<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="email" placeholder="Correo electronico">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">Iniciar sesion</button>
    </form>
</body>
</html>

