<!DOCTYPE html>
<html>
<head>
  <title>Restablecer Contraseña</title>
</head>
<body>
  <h1>Restablecer Contraseña</h1>

  {{#if message}}
    <p>{{message}}</p>
  {{/if}}

  <form action="/reset-password" method="post">
    <label for="email">Correo Electrónico:</label>
    <input type="email" name="email" required>
    <button type="submit">Enviar Correo de Restablecimiento</button>
  </form>
</body>
</html>
